
<section id="web-dev" class="section-box">
  <h2 class="title-main">Desarrollo Web</h2>
  <p class="short-text">
    Si lo que necesitas es crear o remodelar tu web me aseguraré de que tenga
    lo que toda página web de calidad debe tener.
  </p>
  <div class="features">


    <!-- Componente card -->
    <div class="box-feature">
        <img class="ft-img" src="/assets/background/ft-1.jpg" alt="">
        <h4 class="feature-title">Increibles Diseños</h4>
        <!--<div class="box-mini-feature">
          <div class="box-icon"><i>icon</i></div>
          <div class="text-feature">subtitle</div>
        </div>
      -->
    </div>

  <!--  / Componente card -->

    <div class="box-feature">
        <img class="ft-img" src="/assets/background/ft-2.jpg" alt="">
        <h4 class="feature-title" >Responsive Design</h4>
        <!--<div class="box-mini-feature">
          <div class="box-icon"><i>icon</i></div>
          <div class="text-feature">subtitle</div>
        </div>
      -->
    </div>

    <div class="box-feature">
        <img class="ft-img" src="/assets/background/ft-3.jpg" alt="">
        <h4 class="feature-title">Experiencia de Usuario</h4>
        <!--<div class="box-mini-feature">
          <div class="box-icon"><i>icon</i></div>
          <div class="text-feature">subtitle</div>
        </div>
      -->
    </div>
  </div>


</section>






<!--
--------------------------------
Titulo:
Desarrollo Web

features:
  Increibles diseños
  Responsive Design
  Experiencia de Usuario
--------------------------------

--------------------------------
Titulo:
Aplicaciones Móviles

features:
  Diseño simple y elegante
  Geocalización/Exp de usuario
  Material Design
--------------------------------

--------------------------------
Titulo:
Realidad aumentada

features:
  Innovación
--------------------------------
*/

-->
