<header class="js--section-header">
  <div class="homepage-hero-module">
      <div class="video-container">
          <div class="filter">
            <nav class="main-menu">
                <ul class="navigation-box">
                  <li><a  class="js--scroll-to-header" href="#">Home</a></li>
                  <li><a  class="js--scroll-to-about" href="#">Acerca de mi</a></li>
                  <li><a  class="js--scroll-to-product-section" href="#">Desarrollo web</a></li>
                </ul>
            </nav>
            <div class="title-box">
              <h1>JJAnaya</h1>
            <app-social-icons class="social-links"></app-social-icons>
            </div>
            <h2 class="subtitle">Pagina Web en desarrollo</h2>
          </div>
          <video preload loop autoplay poster="/assets/background/Writing-Working.jpg" width="640" height="360">
            <source src="/assets/background/Writing-Working.mp4" type="video/mp4">
            <source src="/assets/background/Writing-Working.webm" type="video/webm">
         Tu navegador no soporta HTML5 Video
        </video>
          <div class="filter-bg">
          </div>
      </div>
  </div>
</header>
