

.homepage-hero-module{
  border-right: none;
  border-left: none;
  position: relative;
  display: flex;
  height: 100vh;

  .video-container {
      position: relative;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      overflow: hidden;

      .poster img {
        width: 100%;
        top: 0;
        position: absolute;
      }

      .filter{
        z-index: 100;
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
      }

     .filter-bg{
       z-index: 90;
       position: absolute;
       width: 100%;
       background-image:linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
       background-size: cover;
       height: 100vh;
       opacity: .90;
     }
  }

}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}



/*---------------------
------..HEADER..--------
----------------------*/



	video{
	    background-size: cover;
	    top: 0;
	    height: auto;
	    min-height: 100%;
	    min-width: 100%;
	    position: fixed;
	    right: 0;


	    z-index: -100;
	}

/*.hidden{
  display:none;
}
*/

nav{
width: 70%;
}


.title-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: .5rem 0 3rem 0;
  .social-links{
    width: 30%;
  }
  h1{
    width: 50%;
  }
}



.navigation-box{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content:space-around;
  margin: 1.5rem 0;
  align-items: center;
  flex-wrap: wrap;
}

.main-menu {
  width: 100%;
  .navigation-box{
  width: 70%;
  }
}


.subtitle{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 2rem 0 3rem 0;
  margin: 0;
}

/* Big tablets to 1200px (widths smaller that the 1140px row)*/
@media only screen and (max-width:1200px){

}

@media only screen and (max-width:1024px){
  video{
    width: auto;
  }
  .title-box{
    h1{
      width: 100%;
      text-align:center;
    }
  }
  .main-menu{
    .navigation-box{
      width: 100%;
    }
  }

.homepage-hero-module{
  .video-container{
    .filter{
    justify-content: space-around;
    }
  }
}
}

/*small phones to  small tablets from 481px to 767px*/
@media only screen and (max-width:767px){
.main-menu
{
  width: 100%;
  .navigation-box{
    width: 100%;
    li{
      width: 100%;
      text-align: center;
    }
  }
}

.title-box{
  //align-items: center;
  margin: .5rem 0;
  .social-links{
    width: 100%;
  }
}



}

/*small phones 0 to 480px*/
@media only screen and (max-width:480px){
  .filter{
    align-items: center;
  }
  nav{
    width: 50%;
  }
h1, h2{
      font-size: 150%;
}
.navigation-box{
  margin: 0;
}

}
