<header>
  <div class="homepage-hero-module">
      <div class="video-container">
          <div class="filter">
            <nav class="main-menu">
                <ul class="navigation-box">
                  <li><a  href="#">Páginas Web</a></li>
                  <li><a  href="#">Aplicaciones Móviles</a></li>
                  <li><a  href="#">Realidad Aumentada</a></li>
                </ul>
            </nav>
            <div class="title-box">
              <h1>JJAnaya</h1>
              <div class="social-links">
                <ul class="navigation-box">
                  <li><a  target="_blank" href="http://www.linkedin.com/in/jjanaya">Linkedin</a></li>
                  <li><a target="_blank" href="http://www.twitter.com/jjam2395">Twitter</a></li>
                  <li><a  href="#">Pinterest</a></li>
                </ul>
              </div>
            </div>
            <h2 class="subtitle">Sitio Web en construcción</h2>
          </div>
          <video preload loop autoplay poster="/assets/Writing-Working.jpg" width="640" height="360">
            <source src="/assets/Writing-Working.mp4" type="video/mp4">
            <source src="/assets/Writing-Working.webm" type="video/webm">
         Tu navegador no soporta HTML5 Video
        </video>
          <div class="poster hidden">
          <!--  <img src="/assets/Writing-Working.jpg" alt=""-->
          </div>
          <div class="filter-bg">
          </div>
      </div>
  </div>
</header>
