<footer class="section-box">
  <div class="social-links">
    <ul class="navigation-box">
      <li>
        <a  target="_blank" href="http://www.linkedin.com/in/jjanaya">
        <svg id="linkedin" class="social__icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-linkedin"></use>
        </svg>
        </a>
      </li>
      <li><a target="_blank" href="https://www.github.com/jjam2395">
        <svg id="github" class="social__icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-github"></use>
        </svg>
      </a></li>
      <li><a target="_blank" href="http://www.twitter.com/jjam2395">
        <svg id="twitter" class="social__icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-twitter"></use>
        </svg>
      </a></li>
      <li><a target="_blank" href="https://www.instagram.com/_jjanaya">
        <svg id="instagram" class="social__icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-instagram"></use>
        </svg>
      </a></li>
    </ul>
  </div>

  <p class="short-text">2018 by JJAnaya.</p>

</footer>
