
.aboutme-box{
  background-color: #fff;
  align-items: center;
  background-image: linear-gradient(to left bottom, var(--color-gray-dark-t),var(--color-gray-darkness-t)), url(/assets/background/about-bg.jpg);
  background-size: cover;
  background-position: center;
  //height: 100vh;
  background-attachment: fixed;

  .title-main{
    margin-top:1.5em;
    color: var(--color-gray-light);
  }

  .img-personal{
  height: 8rem;
  border-radius: 50%;
  }

  .short-text{
    color: var(--color-gray-light);
    margin-top: 1rem;
  }

}
