
<section class="section-box aboutme-box">
  <img class="img-personal" src="assets/jjanaya.jpg" alt="foto de Juan Anaya">
  <h4 class="title-main">Hola, Soy JJAnaya</h4>
  <p class="short-text"> Mi nombre es Juan Anaya. Es un gusto presentarme contigo. Este no es un texto
    que intentará convencerte de que soy una persona perfecta, en realidad es un texto por medio del cual
    quiero que me conozcas.
  </p>

  <p class="short-text">
     Soy Ingeniero en Sistemas computacionales. Recién egresado del Instituto Tecnológico de Cuautla.
     Me apasiona el desarrollo web, sobre todo el front end. La idea de aprender a crear/construir cosas nuevas.
     Mejorar constantemente. Desarrollar todas las ideas que han surgido gracias a mis 23 años.
  </p>

  <p class="short-text">
    Probablemente me interesé en el mundo informático gracias a mi hermano, quien estudio lo mismo.
    ¿Pero que quiero decir con esto?. Quiero decir que desde muy temprana edad conocí el poder de las
    computadoras y el internet.
  </p>

  <p class="short-text">
    A relacionarme con personas que no conocía. Aprender de ellas. Pero sobre todo a compartir.
    Gracias a todo esto, me di cuenta que compartir es la mejor forma de aprender.
  </p>

  <p class="short-text">
    Observar lo que mi hermano y la demás gente hacia en internet, me inspiro a crear mi propio camino.
    A partir de entonces me he dedicado a aprender tecnologías sobre desarrollo web.
  </p>

  <p class="short-text">
    Comenzando por un taller de computación en la secundaria. Especialidad de informática en el bachillerato.
    hasta la Ing en sistemas computacionales y cursos en línea que hasta la actualidad sigo tomando.
  </p>

  <p class="short-text">
  ¿Cuáles son los retos? Ser un front-end experto. No solo lograr diseños bonitos y responsivos.
  Sino que un diseño transmita lo que el proveedor desea. Lo que el usuario quiere. Lo que el internet necesita,
  optimización y calidad.
  </p>

</section>
