
<section class="section-box aboutme-box js--section-about">
  <img class="img-personal js--wp-1" src="assets/jjanaya.jpg" alt="foto de Juan Anaya">
  <h4 class="title-main">Hola, Soy JJAnaya</h4>
  <p class="short-text"> Mi nombre es Juan Anaya. No soy perfecto, pero tienes que conocerme
    y te contaré por qué.
  </p>

  <p class="short-text">
     Soy Ingeniero en Sistemas computacionales. Recién egresado del Instituto Tecnológico de Cuautla.
     Me apasiona el desarrollo web, sobre todo el front end. La idea de aprender a crear cosas nuevas.
     Mejorar constantemente.
  </p>

  <p class="short-text">
    Probablemente me interesé en el mundo del desarrollo web gracias a mi hermano.
    ¿Pero que quiero decir con esto? Quiero decir que desde muy temprana edad conocí el poder del internet.
  </p>

  <p class="short-text">
    A relacionarme con personas que no conocía. Aprender de ellas. Pero sobre todo a compartir.
    Gracias a todo esto, me di cuenta que compartir es la mejor forma de aprender.
  </p>

  <p class="short-text">
    Observar lo que mi hermano y la demás gente hacia en internet, me inspiro a crear mi propio camino.
    A partir de entonces me he dedicado a aprender tecnologías sobre desarrollo web.
  </p>

  <p class="short-text">
    Especialidad de informática en el bachillerato y con ello la creación de páginas web con HTML5 y CSS3.
    Ingeniero en sistemas computacionales y capacitado con cursos en línea sobre desarrollo web que hasta
    la actualidad sigo tomando.
  </p>

  <p class="short-text">
  ¿Cuáles son los retos para JJAnaya? Ser un front-end experto. No solo lograr diseños elegantes y responsivos.
  Sino que un diseño transmita lo que el proveedor desea. Lo que el usuario quiere. Lo que el internet necesita,
  optimización y calidad.
  </p>

</section>
